body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    background-color: #581f75;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.header .logo {
    margin: 0;
    font-size: 1.8rem;
}

.header .navigation ul {
    list-style-type: none;
    padding: 0;
}

.header .navigation ul li {
    display: inline;
    margin-right: 20px;
}

.header .navigation ul li a {
    text-decoration: none;
    color: #ffffff;
}



#featured-events {
    text-align: center;
}
form label,
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px; 
}

.social-media a {
    display: inline-block;
    margin-right: 10px; 
}

.social-media img {
    width: 30px; 
    height: 30px; 
}




.footer {
    background-color: #000000;
    color: #581f75;
    padding: 20px 0;
    text-align: center;
}
